:root {
    --title-font: 'Funnel Display', 'Georgia', 'Times New Roman', Times, serif;
    --body-font: 'PPRadioGrotesk', 'Arial', 'Helvetica Neue', Helvetica, system-ui, sans-serif;
}

@font-face {
    font-family: 'PPRadioGrotesk';
    src: url('../assets/fonts/PPRadioGrotesk-Regular.woff2') format('woff2'),
        url('../assets/fonts/PPRadioGrotesk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@import "tailwindcss";

body {
    padding: 1rem;
    margin: auto;
}

.dots-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.dots-row span {
    display: inline-block;
    width: 0.75rem;
    height: 0.75rem;
    background: currentColor;
}

.dots-row--top {
    margin-bottom: 6rem;
}

.dots-row--bottom {
    margin-top: 6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--title-font);
    line-height: 1.25;
    font-weight: normal;
}

p,
ul,
ol {
    font-family: var(--body-font);
    line-height: 1.5;
}

h2,
h3,
h4,
h5,
p,
ul,
ol {
    font-size: 1.25rem;
    line-height: 1.25;
}

h1 {
    font-size: 3rem;
    line-height: 1.25;
    @apply mb-4;
}

h2 {
    text-decoration: underline;
    @apply underline-offset-4 mb-4;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
    @apply my-4 !mt-8 -ml-4 underline underline-offset-2;
}

p {
    @apply text-pretty;
}

.week-post {
    @apply bg-white text-black border;
}

.week-post[open] {
    @apply bg-black text-white;
}

/* .week-post[open] {
    @apply border-0;
} */

.week-post p,
.week-post ul li {
    font-size: 1.125rem;
    line-height: 1.5;
}

.week-post ul {
    @apply list-disc pl-4 my-4;
}

.week-post ol {
    @apply list-decimal pl-4 my-4;
}

.week-post h4 {
    @apply mt-4;
}

/* Details element styling for + and - indicators */
details>summary {
    list-style: none;
    cursor: pointer;
    @apply flex-row justify-between items-end;
}

details>summary::-webkit-details-marker {
    display: none;
}

details>summary::after {
    content: '+';
    font-size: 1.5rem;
    display: inline-block;
    text-align: center;
    transition: transform 0.2s ease;
}

details[open]>summary::after {
    content: '−';
}

details>summary:hover::after {
    transform: scale(1.1);
}

a:hover {
    @apply opacity-25;
}

a:hover::after {
    content: '↗';
}

footer {
    @apply mt-8 pt-2;
}

.week-post span {
    @apply border border-white text-white px-4 py-2 my-2 inline-block;
}

::selection {
    @apply bg-black text-white;
}

.card {
    @apply border p-4 mb-4 bg-white;
    break-inside: avoid;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
}