---
const { class: className = "" } = Astro.props;
const classes = ["dots-row", className].filter(Boolean).join(" ");
---

<div class={classes} aria-hidden="true">
  <span></span><span></span><span></span>
</div>
