<script src="https://cdn.jsdelivr.net/npm/p5@1.11.10/lib/p5.js"></script>

<div
  id="p5-sketch"
  class="w-full max-w-[600px] fade-in overflow-hidden h-auto my-8 mx-auto flex justify-center"
>
</div>

<script is:inline>
  let rays = [];
  const NUM_RAYS = Math.random() * 8 + 5;
  let camAngle = 0;
  let canvasResizeRatio = 0.5;

  function setup() {
    const container = document.getElementById("p5-sketch");
    const w = container.offsetWidth || windowWidth * canvasResizeRatio;
    const h = container.offsetWidth || windowWidth * canvasResizeRatio;
    cnv = createCanvas(w - 40, h - 40, WEBGL);
    cnv.parent("#p5-sketch");
    for (let i = 0; i < NUM_RAYS; i++) {
      // Fibonacci sphere distribution
      let t = i / NUM_RAYS;
      let inclination = acos(1 - 2 * t);
      let azimuth = TWO_PI * i * 0.61803398875; // golden ratio

      let x = sin(inclination) * cos(azimuth);
      let y = sin(inclination) * sin(azimuth);
      let z = cos(inclination);

      let dir = createVector(x, y, z);

      rays.push({
        dir,
        length: random(random(10, 50), 60), // length can stay random
      });
    }
  }

  function draw() {
    background(0);
    stroke(255);
    strokeWeight(0.5);
    let radius = width / 2.75;
    let camX = cos(camAngle) * radius;
    let camZ = sin(camAngle) * radius;

    camera(
      camX,
      0,
      camZ, // camera position
      0,
      0,
      0, // look at center
      0,
      1,
      0, // up vector
    );
    orbitControl();

    rotateY(frameCount * 0.003);
    rotateX(frameCount * 0.002);

    for (let r of rays) {
      let end = p5.Vector.mult(r.dir, r.length);

      // ALL lines start at the origin
      line(0, 0, 0, end.x, end.y, end.z);
    }
  }

  function windowResized() {
    const container = document.getElementById("p5-sketch");
    const w = container.offsetWidth || windowWidth * canvasResizeRatio;
    const h = container.offsetWidth || windowWidth * canvasResizeRatio;
    resizeCanvas(w - 40, h - 40);
  }
</script>
