---
import { OFFICE_HOURS, SYLLABUS_LINK } from "@/consts";
---

<section class="flex flex-col mb-8 card">
  <h2>Quick Links</h2>
  <ul class="flex flex-col gap-1">
    <li><a href={SYLLABUS_LINK}>Syllabus</a></li>
    <li><a href={OFFICE_HOURS}>Office Hours</a></li>
    <li><a href={"https://forms.gle/mqA6Wj9gP7ZQtwpFA"}>Welcome Survey</a></li>
    <li>
      <a href={"https://chat.google.com/room/AAQAHiezsbU?cls=7"}>Google Chat</a>
    </li>
    <li>
      <a
        href={"https://docs.google.com/spreadsheets/d/1wMo1agYzYCB2m44idmlzwfn0UdoI69XJhPf4ETtTk90/edit?gid=0#gid=0"}
        >The Big Resource List</a
      >
    </li>
  </ul>
</section>
