---
import { OFFICE_HOURS, SYLLABUS_LINK } from "@/consts";
---

<section class="flex flex-col mb-8 card">
  <h2>Quick Links</h2>
  <ul class="grid grid-cols-2 md:grid-cols-4 gap-2 text-left">
    <li><a href={SYLLABUS_LINK}>Syllabus</a></li>

    <li><a href={"https://forms.gle/mqA6Wj9gP7ZQtwpFA"}>Welcome Survey</a></li>
    <li>
      <a href={"https://chat.google.com/room/AAQAHiezsbU?cls=7"}>Google Chat</a>
    </li>
  </ul>
</section>
